.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgb(235, 110, 75, .35);
  padding: 1rem;
  margin-right: 24px;
  border-radius: 5px;
}

.container p {
  margin: 0;
  margin-bottom: 4px;
}