
.headerContainer {
  background-color: honeydew;
  border-radius: 5px;
}
.header {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  border-bottom: 3px solid #eee;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.rowText {
  width: 100px;
  text-align: center;
}